.secondary {    
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 29.4118%;
    z-index: 0;
    background-color: #4babcc;
    width: calc(50% - 289px);
}

.primary {
	
}

body {
	
	background-color: #e2e2e2; 
	font-family:Noto-serif,  Helvetica; 
}

h1 {
	
	text-align: center;
}

ul {
	
	 border: 0;
	 border-color: rgba( 255, 255, 255, 0.1);
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.menu
{
	    border: 0;
    
    list-style-type: none;
    display: table;
    
    
    overflow: hidden;
    width: 100%;
    
}

.menu-container {
	display: block;
	text-align: -webkit-match-parent; 
	line-height: 1.5; 
}

.menu-li {
	text-align: center; 
}
.entry-content{
	
	
	background-color: white; 
	margin: 30px; 
	padding: 5%; 
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.Essefooter {
	
	text-align: center;
	color: rgba( 34, 49, 63, 0.7);;
	height: 100px;
	padding: 1%;
	background-color: white;  
	vertical-align: bottom;
}

.section {
	
    display: block;
    float: left;
    margin-left: 35.4118%;
    width: 60.5882%;
    background-color: #e2e2e2;
    float: bottom; 
}